@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

body{
  background: url(../images/darkBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner h1{
  font-family : myFirstFont;
  color : white;
  letter-spacing : 10px;
}

nav{}

nav ul{
  list-style: none;
  padding : 0px;
  margin : 90px;
  border : solid 0px green;
  /* Flexbox */
  display : flex;
}

nav ul a{
  flex-grow : 1;
}

nav ul a:link{
  color : white;
  font-weight : bold;
  text-decoration : none;
  text-transform: uppercase;
  font-family : myFirstFont !important;
}

nav ul a:visited{
    color : #FFF;
    text-decoration : none;
}

nav ul li{
  border : solid 2px white;


  text-align : center;
  padding-top : 10px;
  padding-bottom : 10px;
}

nav ul li:hover{
  background : skyblue;
}

#mainArea{
  display : flex;

  justify-content: center;
}

#mainArea section{
  padding : 10px;
}

#mainArea table{
  background-color : ivory;
}

#mainArea h3,
#mainArea b,
#mainArea td{
  padding : 10px;
}


p{
  font-family : myFirstFont;
  color : white;
  font-size : 16pt;
}


#jazzMusic{
  display : flex;
  padding : 10px;
  justify-content: center;
}
